<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>__LABEL__</string>
    <key>ProgramArguments</key>
    <array>
        <string>__REPO__/scan/daily-agent.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>__REPO__/scan</string>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>__HOUR__</integer>
        <key>Minute</key>
        <integer>__MINUTE__</integer>
    </dict>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>__HOME__</string>
        <key>PATH</key>
        <string>__PATH__</string>
        <key>PYTHON</key>
        <string>__PYTHON__</string>
        <key>CLAUDE_BIN</key>
        <string>__CLAUDE__</string>
        <key>LANG</key>
        <string>en_US.UTF-8</string>
    </dict>
    <key>StandardOutPath</key>
    <string>__STATE__/daily-agent.log</string>
    <key>StandardErrorPath</key>
    <string>__STATE__/daily-agent.err.log</string>
    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>
